
 
 /* http://www.qinggl.com/res/css/basic.css */ 

.submitbox {
	color: #666666;
	width: 100%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f9f9f9;
	overflow: visible;
	position: relative;
}

.submit {
	float: left;
	font-weight: bolder;
	outline: none;
	font-size: 18px;
	width: 23%;
	*width: 22.5%;
	height: 40px;
	margin: 1%;
	color: #333;
	background-color: #ddd;
	border: none; /*设置无*/
	vertical-align: middle; /*垂直居中*/
	cursor: pointer;
}

.submit111 {
font-family: helvetica, sans-serif;
	font-size: 17px;
	color: 000000;
	font-weight: bold;
	text-align: center;
}

.submit112 {
	font-family: helvetica, sans-serif;
		font-size: 10px;
		font-weight: bold;
		text-align: center;
	}
